body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 320px;
	color: #fff;
}

.set-body {
	background-image: url(../../com/img/other/com_bg.png);
	background-size: 100% 100%;
}

#remoteCtrl {
	border: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -172.5px 0 0 -127px;
}

li {
	list-style: none;
}

#remoteCtrl>.rc_show {
	margin: 0 auto;
	width: 254px;
	height: 180px;
	background: url(../../liliao/img/device/rc_show.png);
	background-size: 100% 95%;
	background-repeat: no-repeat;
}

#remoteCtrl>.rc_show>span,
#remoteCtrl>.rc_show>li,
#remoteCtrl>.rc_show>em {
	display: block;
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 1rem;
}

#remoteCtrl>.rc_show>li {
	margin-top: 10px;
	height: 80px;
	line-height: 80px;
	background: url(../../liliao/img/device/t_bg.png) no-repeat center center;
}

#remoteCtrl>.rc_show>em {
	font-style: inherit;
}

#remoteCtrl>.rc_ctrl {
	position: relative;
	width: 254px;
	height: 185px;
	margin: 0 auto;
	margin-top: 30px;
}


/*远程控制 控制区域 */

#remoteCtrl>.rc_ctrl>span {
	display: block;
	position: absolute;
	border-radius: 25px;
	border: none;
	background-color: #fff;
	color: #000;
	padding: 3px 10px;
	z-index: 10;
	font-size: 1rem;
}


/*左上角*/

#remoteCtrl>.rc_ctrl>.span_lt {
	left: 0;
	top: 0;
}

#remoteCtrl>.rc_ctrl>.span_lt_h {
	color: #fff;
	background-color: #FF0000;
}


/*右上角*/

#remoteCtrl>.rc_ctrl>.span_rt {
	right: 0;
	top: 0;
}

#remoteCtrl>.rc_ctrl>.span_rt_h {
	color: #fff;
	background-color: #FF0000;
}


/*左下角*/

#remoteCtrl>.rc_ctrl>.span_lb {
	left: 0;
	bottom: 0;
}

#remoteCtrl>.rc_ctrl>.span_lb_h {
	color: #fff;
	background-color: #FF0000;
}


/*右下角*/

#remoteCtrl>.rc_ctrl>.span_rb {
	right: 0;
	bottom: 0;
}

#remoteCtrl>.rc_ctrl>.span_rb_h {
	color: #fff;
	background-color: #FF0000;
}

#remoteCtrl>.rc_ctrl ul {
	position: absolute;
	width: 140px;
	height: 140px;
	left: 57px;
	top: 23px;
	z-index: 5;
	margin: 0;
	padding: 0;
}

#remoteCtrl>.rc_ctrl li {
	position: absolute;
	width: 50%;
	height: 50%;
	z-index: 1;
	/*默认为1 中间按钮为2*/
	background-size: 100% 100%;
}

#remoteCtrl>.rc_ctrl .li_lt {
	left: 0;
	top: 0;
	background-image: url(../../liliao/img/device/lt_n.png);
}

#remoteCtrl>.rc_ctrl .li_lt_h {
	background-image: url(../../liliao/img/device/lt_h.png);
}

#remoteCtrl>.rc_ctrl .li_rt {
	right: 0;
	top: 0;
	background-image: url(../../liliao/img/device/rt_n.png);
}

#remoteCtrl>.rc_ctrl .li_rt_h {
	background-image: url(../../liliao/img/device/rt_h.png);
}

#remoteCtrl>.rc_ctrl .li_lb {
	left: 0;
	bottom: 0;
	background-image: url(../../liliao/img/device/lb_n.png);
}

#remoteCtrl>.rc_ctrl .li_lb_h {
	background-image: url(../../liliao/img/device/lb_h.png);
}

#remoteCtrl>.rc_ctrl .li_rb {
	right: 0;
	bottom: 0;
	background-image: url(../../liliao/img/device/rb_n.png);
}

#remoteCtrl>.rc_ctrl .li_rb_h {
	background-image: url(../../liliao/img/device/rb_h.png);
}

#remoteCtrl>.rc_ctrl .li_cc {
	width: 40%;
	height: 40%;
	left: 30%;
	top: 30%;
	z-index: 2;
	background-image: url(../../liliao/img/device/cc_h.png);
}

#remoteCtrl>.rc_ctrl .li_cc_h {
	background-image: url(../../liliao/img/device/cc_n.png);
}

@media screen and (min-height: 550px) {
	#remoteCtrl {
		margin: -197.5px 0 0 -127px;
	}
	#remoteCtrl>.rc_ctrl {
		height: 235px;
	}
	#remoteCtrl>.rc_ctrl ul {
		width: 165px;
		height: 165px;
		left: 46px;
		top: 35px;
	}
}